{% extends "html/layout.njk" %}

{% block body %}
  <header id="header" class="slide">
    {% include "html/renee-menu.njk" %}

    <div class="logo">
      <img src="./img/logo.jpg" alt="RENÉE">
    </div>

    <div class="info">
      <div class="title">{{ homepage.opening_hours | safe }}</div>

      <div class="more">
        <a class="skip-link no-indication" href="#main"><img src="./img/icon/arrow-down.svg" class="arrow-down" alt="Scroll down"></a>
      </div>
    </div>
  </header>

  <div id="main" class="main slide">
    <div id="intro" class="rich-text">
      <div class="description rich-text">
        <p>
          Bar and Live Venue<br>
          <a href="https://www.google.com/maps/?q=Klingental%2018,%20Basel,%20Switzerland" target="_blank" rel="noopener noreferrer" class="link-indication">Klingental 18, Basel</a>
        </p>
      </div>

      <div class="menu">{{ homepage.menu | safe }}</div>
<!--        <div class="contact">-->
<!--          <p>info@renee.ch</p>-->
<!--          <p>booking@renee.ch</p>-->
<!--          <p><a href="https://eepurl.com/dlpmqj" class="link-indication">Newsletter</a></p>-->
<!--          <p><a href="http://www.reneeculture.club/" class="link-indication">Renée Culture Club</a></p>-->
<!--        </div>-->
    </div>


      <section id="agenda">
        {% if events.length > 0 %}
        <ul class="eventList">
          {% for event in events %}
          <li class="event" itemscope itemtype="https://schema.org/MusicEvent">
            <div class="date" itemprop="startDate" content="{{ event.start_iso }}">{{ event.start_text }}</div>
            <div class="description rich-text" itemprop="name" content="{{ event.title_text }}">{{ event.title_html | safe }}</div>

            <meta itemprop="endDate" content="{{ event.end_iso }}" />
            <div itemprop="location" itemscope itemtype="https://schema.org/MusicVenue">
              <meta itemprop="name" content="RENÉE" />
              <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <meta itemprop="streetAddress" content="Klingental 18" />
                <meta itemprop="addressLocality" content="Basel" />
                <meta itemprop="postalCode" content="4058" />
                <meta itemprop="addressCountry" content="CH" />
              </div>
            </div>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
            </meta>

          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="eventList-info">
          No upcoming shows.
        </div>
        {% endif %}
      </section>

    {% include "html/footer.njk" %}
  </div>
{% endblock %}
